<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-height: 80px;
            width: auto;
        }

        .add-user-btn {
            float: right;
            margin-bottom: 10px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            width: 300px;
            margin: 100px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group input[type="file"] {
            width: calc(100% - 22px);
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 th:text="${hostname}"></h1>
    <button class="add-user-btn">Add User</button>
    <table id="user-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Zone</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- User data will be dynamically added here -->
        </tbody>
    </table>
</div>

<div class="modal" id="add-user-modal">
    <div class="modal-content">
        <h2>Add User</h2>
        <form id="user-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="zone">Zone</label>
                <input type="text" id="zone" name="zone" placeholder="Enter zone">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <button type="submit" id="save-user-btn">Save</button>
            <button type="button" class="close-btn" onclick="hideModal()">Close</button>
        </form>
    </div>
</div>

<script>
    const form = document.getElementById('user-form');
    const addUserBtn = document.querySelector('.add-user-btn');
    const modal = document.getElementById('add-user-modal');
    const saveUserBtn = document.getElementById('save-user-btn');

    document.addEventListener("DOMContentLoaded", async function () {
        await getUserData();
    });

    async function getUserData() {
        try {
            const response = await fetch('/user/get-list', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            });
            const data = await response.json();
            createTableRows(data);
        } catch (error) {
            alert('Error');
        }
    }

    function createTableRows(data) {
        const tbody = document.querySelector('#user-table tbody');
        tbody.innerHTML = '';
        data.forEach(user => {
            const row = `
                <tr>
                    <td>${user.id}</td>
                    <td>${user.name}</td>
                    <td>${user.email}</td>
                    <td>${user.zone}</td>
                    <td><img src="${user.imageS3}" alt="${user.name}"></td>
                    <td><button class="delete-user-btn" data-id="${user.id}" onclick="deleteUser(${user.id})">Delete</button></td>
                </tr>
            `;
            tbody.innerHTML += row;
        });
    }

    function showModal() {
        modal.style.display = 'block';
    }

    function hideModal() {
        form.reset();
        modal.style.display = 'none';
    }

    addUserBtn.addEventListener('click', showModal);

    saveUserBtn.addEventListener('click', function () {
        saveUserBtn.disabled = true;
        let formData = new FormData(form);
        save(formData);
    });

    async function save(formData) {
        try {
            const response = await fetch('/user/save', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            console.log('data', data);
            saveUserBtn.disabled = false;
            form.reset();
            await getUserData();
            hideModal();
        } catch (error) {
            saveUserBtn.disabled = false;
            alert('Error');
        }
    }

    async function deleteUser(userId) {
        if (confirm('Are you sure?')){
            try {
                const response = await fetch('/user/delete/' + userId, {
                    method: 'DELETE'
                });
                const data = await response.json();
                await getUserData();
            } catch (error) {
                alert('Error');
            }
        }
    }
</script>

</body>
</html>
